/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-code-font-size: 95%;
}

html, body {
    background-color: transparent !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="light"] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;

    .homepage-hero,
    .homepage-features {
        background-color: #dbe4e6;
    }

    .footer {
        background-color: #dbe4e6;
        color: #000;
    }

    .features-section {
        background-color: #92929d;
    }

    a,
    li,
    .footer__title {
        color: #000;
    }
}

html[data-theme="dark"] {
    --ifm-color-primary: #25c2a0;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;

    li {
        color: var(--ifm-font-color-base);
    }
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    src: url(../../static/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url(../../static/fonts/Inter-Light.ttf);
}

@font-face {
    font-family: "TitilliumWeb";
    font-weight: 600;
    src: url(../../static/fonts/TitilliumWeb-SemiBold.ttf);
}
/**
Homepage
 */
html[data-theme="light"] .homepage-hero {
    h1, h2 {
        color: #222;
    }
}

.homepage-hero {
    background: linear-gradient(217deg, rgba(38,40,53,.8), rgba(38,40,53,0) 70.71%),
    linear-gradient(127deg, rgba(93,94,158,1), rgba(93,94,158,0) 70.71%),
    linear-gradient(336deg, rgba(62,64,78,.8), rgba(62,64,78,0) 70.71%);
}

.homepage-features:hover {
    a, h2, p {
        text-decoration: none !important;
    }
}

.homepage-features {
    a, h2, p {
        color: #333;
    }
}

/**
Internal Pages (Markdown)
 */
.markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "TitilliumWeb", Inter, sans-serif;
        font-weight: 600;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        margin-top: 48px;
        font-size: 1.5rem;
    }

    .navbar__items > a,
    .theme-doc-sidebar-menu > li a,
    span.breadcrumbs__link {
        font-family: "TitilliumWeb", Inter, sans-serif;
    }

    ul, ol {
        padding-left: var(--ifm-list-left-padding);
    }

    p,
    i,
    b,
    li,
    a {
        font-weight: 200;
    }

    p, ul, ol {
        line-height: 1.5em;
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
    }

    ol li {
        p:first-child {
            margin-bottom: 4px;
        }

        p:first-child + p {
            margin-top: 4px;
        }
    }

    hr {
        height: var(--ifm-hr-height);
        margin-block-start: 4em;
        margin-block-end: 1.5em;
    }

    .docusaurus-highlight-code-line {
        background-color: rgba(0, 0, 0, 0.1);
        display: block;
        margin: 0 calc(-1 * var(--ifm-pre-padding));
        padding: 0 var(--ifm-pre-padding);
    }

    // strong
    strong {
        color: #9c00e3;
        font-weight: 600;
    }

    // italic
    i {
        font-weight: 600;
    }

    // default body paragraph
    p {
        color: #222;
    }

    // h1
    h1 {
        color: #333;
    }

    // h2
    h2 {
        color: #434343;
    }

    // h3
    h3 {
        color: #5389ff;
    }

    .features-grid {
        width: 100%;

        a {
            text-decoration: none !important;
        }

        a:hover {
            > div.cell-bg {
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
            }
        }

        div.cell-bg {
            background-color: #262835;
            border-radius: 8px;
            padding: 1.5em;
            text-align: center;

            > img {
                display: inline-block;
                height: 250px;
            }

            strong {
                font-size: 1.5rem;
                color: #e75dff;
            }

            p {
                font-size: 1.2em;
                line-height: 1.2;
                margin: 0;
                color: #fff;
            }
        }
    }

    // img
    img {
        border-radius: 16px;
    }
}

html[data-theme="dark"] .markdown {

    h1 {
        color: #ccc;
    }

    h2 {
        color: #fff;
    }

    h3 {
        color: #5389ff;
    }

    p {
        color: #fff;
        font-weight: 400;
    }

    li p {
        font-weight: 200;
    }

    a {
        color: var(--ifm-link-color);
        text-decoration: underline;
        text-decoration-color: var(--ifm-alert-border-color);
    }

    strong {
        color: #e75dff;
    }

    .docusaurus-highlight-code-line {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

html[data-theme="light"] .markdown {

    table th, td {
        color: var(--ifm-font-color-base);
    }

}

.pagination-nav__label {
    color: var(--ifm-link-color) !important;
}

